body {
  background-color: lightblue;
  color : black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: Gray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to tomato on hover */
li a:hover {
  background-color: Tomato;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.mainpage{
  
   background-color: lightblue;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
  margin-right: 0;
  padding-left: 0px;
}

.mainpage_li{
  list-style-type: square;
}
